# Ignore log files
*.log

# Ignore compiled class files
*.class

# Ignore bin directory (where compiled files are stored)
bin/

# Ignore .settings directory (where Eclipse settings are stored)
.settings/

# Ignore .project file (Eclipse project file)
.project

# Ignore .metadata directory (where Eclipse workspace settings are stored)
.metadata/

# Ignore .classpath file (Eclipse classpath file)
.classpath